@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:ital,wght@0,100;0,400;1,100;1,400&display=swap');


.wrapper {
  background-color: #f8f4f0;
  height: calc(var(--vh, 1vh) * 100);
  display: grid;
  place-items: center;
}

#quote-box {
  background-color: white;
  min-height: fit-content;
  max-width: 70%;
  max-height: 80%;
  place-self: center;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 3em 2em;
  display: flex;
  flex-direction: column;
}
#text {
  font-family: 'Poppins', sans-serif;
  font-size: calc(13px + (26 - 13) * ((100vw - 300px) / (1600 - 300)));
  margin: 0 1em;
  padding: 0.5em;
}
#author{
  font-family: Roboto, sans-serif;
  font-style: italic;
  font-size: 18px;
  text-align: right;
  margin: 0 1em;
  padding-right: 0.5em;
}

#tweet-quote {

}

#new-quote {
  background-color: #e06158;
  color: white;
  height: 3em;
  width: 12em;
  align-self: center;
  margin-top: 2em;
  border-radius: 10px;
  font-size: 1em;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  border: 1px solid #be5642;
}

#new-quote:hover {
  background-color: #bb524b;
}

#quote-mark {

}